body{
    background-color: teal;
    color: lightyellow;
    margin: 0px;
}

.pg-title{
    text-align: center;
    padding-right: 40%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.project-list{
    margin: 50px;
    margin-right: 20%;
}

.p-name{
    text-decoration-style: dotted;
    color: white;
}