body{
    /* background-color: teal; */
    background-image: url('../images/lack.jpg');
    color: lightyellow;
    margin: 0px;
}

.pg-title{
    text-align: center;
    padding-right: 40%;
    font-family: 'Times New Roman', Times, serif;
}

.project-list{
    margin: 50px;
    margin-right: 20%;
}

.p-name{
    text-decoration-style: dotted;
    color: white;
}